<header>
      <div class="encabezado">
      	<center>
            	<div class="logo"></div>
            	<div class="titulo">
            		<p>Nuestra Seleccion</p>
            		<hr>
                        <hr>
                        <hr>
            		<p>#UnidosPorUnPais</p>
            	</div>
                  <div class="logo2"></div>
            </center>
      </div>

      <nav>
            <hr>
            <hr>
            <hr>
      	<ul>
      		<li><a href="/">Inicio</a></li>
      		<li><a href="/jugador/listado">Jugadores</a></li>
      		<li><a href="/posicion/listado">Posiciones</a></li>
      	</ul>
             <hr>
            <hr>
            <hr>
      </nav>
</header>